<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label>Users</ion-label>
      <ion-select (ionChange)="onUseChange($event)">
        <ion-select-option *ngFor="let user of users "[value]="user">
          {{user.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngIf="selectUser">  
      <h2>SELECT USER:</h2>
      <p>Name: {{selectUser.name}}</p>
      <p>Email: {{selectUser.email}}</p>
    </div>
  </div>
</ion-content>
